.App {
  text-align: center;
}

#recept{
  display: inline;
  text-align: center;
}
body{
  background-color: #282c34;
}

footer{
  color: aliceblue;
  font-size: 2em;
  background-color: #515b70;
}

.App-header {
  background-color: #282c34;
  /* height: 93vh; */
  color: white;
}